{% extends 'layout.twig' %}


{% block body %}
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <input type="text" name="id" required placeholder="UserId">
        <input type="password" name="password" required placeholder="Password">
        <button type="submit">Anmelden</button>
    </form>
{% endblock %}